<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>글 Id</th>
        <th>글 제목</th>
    </tr>
    <tr th:each="boards : ${board}">
        <td><a th:href="@{'/board/view/' + ${boards.id}}"><span th:text="${boards.id}"></span></a></td>
        <td><a th:href="@{'/board/view/' + ${boards.id}}"><span th:text="${boards.title}"></span></a></td>

    </tr>
</table>

<a href="/board/post">글 작성하기</a>
</body>
</html>